body {
    background-image: url("images/darkness.png");
    background-repeat: repeat-x;
}

.nav {
    font-variant-caps: titling-caps;
    color: white;
    font-size: px;
    list-style-type: none;

}
h1 {
    color: #ffffff;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 90px;

}
h2 {
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;

}
p {
    font-family: 'Libre Caslon Display', serif;
}

img {
    border: darkblue solid 3px;
    
}
  
a {
    background-color: #ffffff;
    padding: 10px;
    color: black;
}
